/* Exemplo de estilos para os botões */
div{
    font-family: 'Montserrat', sans-serif ;
}

footer {
    font-size: small;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
    text-align: center;
    border-top: 1px solid #ccc;
}

input{
    font-family: 'Montserrat', sans-serif;
}

label {
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin-bottom: 5px;
}

button:hover {
    opacity: 0.8;
}

.content{
    margin-bottom: 60px;
}

.add-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px
}

.update-button {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px
}

.toggle-button {
    background-color: grey;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border: 2px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px
}

.paste-button{
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px
}
/* geradorchave.css */

.table {
    border-collapse: collapse;
    width: auto;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
    text-align: center;
}

.table tr:hover {
    background-color: #f5f5f5;
}

/* geradorchave.css */

.title {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    flex-grow: 1;
}

.input-sistema {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 30%;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.exit-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.create-user{
    padding: 5px 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    display: flex;
}

.createUser,
.user-list-section {
    flex: 1;
    padding: 20px;
}

/* Estilos para campos editáveis */
input.editable {
    border: 1px solid #ccc;
    padding: 4px;
}

.hidden {
    display: none;
}

.edit-btn{
    background-color: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px
}

.save-btn{
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px
}

@media only screen and (max-width: 768px) {
    footer {
        height: 70px;
        /* Ajuste o estilo do footer para dispositivos móveis, se necessário */
    }

    .input-sistema {
        width: 100%;
        /* Faça os inputs ocuparem 100% da largura em dispositivos móveis */
    }

    .header {
        padding: 10px;
        /* Reduza o preenchimento do cabeçalho em dispositivos móveis, se necessário */
    }

    .exit-button {
        font-size: 18px;
        /* Reduza o tamanho do botão de saída em dispositivos móveis, se necessário */
    }

    .container {
        flex-direction: column;
        /* Altere o layout da container para empilhado em dispositivos móveis */
    }

}